# pycharm
.idea

# vscode
.vscode

# temporary files
tools/__pycache__/
tools/cookie.txt
tools/problem_list.csv
tools/record.json
tools/test.py

# virtualenv
venv

# executable
main.out

# test file
src/test.cpp
