#include <iostream>
#include <vector>

using namespace std;



int main() {
	Solution s = Solution();

	vector<int> testcase = {};
	int k = 0;
	
	int ans = s.function(testcase, k);

	cout << ans << endl;

	return 0;
}